<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="admin.css">
</head>

<body>

  <div class="container-fluid">
    <div class="row g-0">
      <!-- gutter က column တစ်ခုနဲ့တစ်ခုကြားအကွာအဝေး -->
      <!-- g-0 ဆိုတာက row မှာရှိတဲ့ padding margin တွေကိုဖြုတ်ချလိုက်တာပါ  -->
      <!--Start slideNavgation Bar  -->
      <nav class="col-2 bg-light pe-3">
        <!-- Start logo and logoName -->

        <h1 class="h4 py-3 text-center text-primary">
          <i class="fas fa-book-open me-2"></i>
          <span class="d-none d-lg-inline fw-bold">
            <!-- !ဒီမှာဆိုလည်း d-none d-lg-inline က အသက်ပါ -->
            Comics Geek
          </span>
        </h1>
        <!-- End logo and logoName -->
        <!--Start menu item -->
        <!-- !ဒီ menu-item အပိုင်းမှာဆို list-group က အသက်ပါ -->
        <div class="list-group text-center text-lg-start">
          <span class="list-group-item disabled d-none d-lg-block">
            <small>CONTROLS</small>
          </span>
          <a href="index.html" class="list-group-item list-group-item-action">
            <i class="fas fa-home"></i>
            <span class="d-none d-lg-inline">Dashboard</span>
          </a>
          <a href="showclient.html" class="list-group-item list-group-item-action">
            <i class="fas fa-user-lock"></i>
            <span class="d-none d-lg-inline">Client</span>
          </a>
          <a href="showuser.html" class="list-group-item list-group-item-action">
            <i class="fas fa-users"></i>
            <span class="d-none d-lg-inline">Users</span>
          </a>
          <a href="createuser.html" class="list-group-item list-group-item-action">
            <i class="fas fa-user-edit"></i>
            <span class="d-none d-lg-inline">Create User</span>
          </a>
        </div>
        <div class="list-group mt-4 text-center text-lg-start">
          <span class="list-group-item disabled d-none d-lg-block">
            <small>COMICS</small>
          </span>
          <a href="#" class="list-group-item list-group-item-action active">
            <i class="fas fa-book-open-reader"></i>
            <span class="d-none d-lg-inline">Comics</span>
          </a>
          <a href="createcomics.html" class="list-group-item list-group-item-action">
            <i class="fas fa-book"></i>
            <span class="d-none d-lg-inline">Create Comics</span>
          </a>

        </div>

        <!-- list-group-item ဆိုတာက နိုပ်လို့ရတဲ့ link မှန်းပေါ်လွင်အောင် 
        ပြတာ တနည်းအားဖြင့် အဲ့ကောင်မပါရင် hover ထောက်ရင် အပြာတွေပေါ်နေလိမ့်မယ် အဲ့ကောင်ထည့်လိုက်ရင် ပိုမိုက်တယ်
        -->
        <!--End menu item -->
      </nav>
      <!--End slideNavgation Bar  -->
      <!-- Start MainNav Bar -->
      <main class="col-10 ">
        <!-- Start  navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="flex-fill"></div>

          <!-- !flex-fill ဆိုတာက menu ကို ညာဘက်ခြမ်းကပ်ပေါ်ချင်လို့ ပေးခြင်း -->

          <div class="navbar nav">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fas fa-user-circle"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="updateUser.html" class="dropdown-item">User Profile</a>
                </li>
                <li>
                  <a href="adminlogin.html" class="dropdown-item">Logout</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="fas fa-cog"></i></a>
            </li>

          </div>
        </nav>
        <!-- End  navbar -->
        <div class="container-fluid mt-3 p-4 showusers">
          <div class="row">
            <div class="col-9">
              <input class="form-control" type="search">
            </div>
            <div class="col-3">
              <button type="button" class="btn btn-outline-primary">
                SEARCH
              </button>
              <button type="button" class="btn btn-outline-primary">
                ADD
              </button>
            </div>
          </div>
          <table class="table table-striped table-hover table-light mt-3" id="stduentTable">
            <thead>
              <tr>
                <th scope="col">Comics ID</th>
                <th scope="col">Comics Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>COM001</td>
                <td>Harry</td>

                <td>
                  <button type="button" class="btn btn-primary  mb-3 " onclick="location.href = 'updateuser.html';">
                    <i class="fas fa-edit"></i>
                    Update
                  </button>
                  <button type="submit" class="btn btn-danger mb-3" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <i class="fas fa-trash"></i>
                    Delete</button>
                </td>





              </tr>

              <tr>


                <td>COM002</td>
                <td>John</td>

                <td>
                  <button type="button" class="btn btn-primary  mb-3 " onclick="location.href = 'updateuser.html';">
                    <i class="fas fa-edit"></i>
                    Update
                  </button>
                  <button type="submit" class="btn btn-danger mb-3" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <i class="fas fa-trash"></i>
                    Delete</button>
                </td>
              </tr>

              <tr>


                <td>COM003</td>
                <td>Bryce</td>

                <td>
                  <button type="button" class="btn btn-primary   mb-3 " onclick="location.href = 'updateuser.html';">
                    <i class="fas fa-edit"></i>
                    Update
                  </button>
                  <button type="submit" class="btn btn-danger mb-3" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <i class="fas fa-trash"></i>
                    Delete</button>
                </td>
              </tr>

              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title fw-bold" id="exampleModalLabel">User Deletion</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                      <h5 class="text-primary">Are you sure want to delete !</h5>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary col-md-2" data-bs-dismiss="modal">Ok</button>

                    </div>
                  </div>
                </div>
              </div>

            </tbody>
          </table </div>
      </main>
      <footer class="text-center py-4 text-muted">
        &copy; Copyright 2020
      </footer>
      <!-- End mainNav bar -->
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>