<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="style.css">
  <title>Comics Geek</title>
</head>

<body>
  <!-- Start Header -->
  <header class="pb-5">
    <!-- Start Nav -->
    <nav class="container-fluid navbar navbar-expand-lg fixed-top navbars navframe bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand logonames" href="index.html">Comic Geek</a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fas fa-search pt-1"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <form class="d-flex mt-3 mb-2 mt-md-0 mb-md-0">
            <input class="form-control me-2 searchboxs" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>

        <div class="dropstart">
          <div class=" profiles" data-bs-toggle="dropdown"></div>
          <ul class="dropdown-menu dropcus mt-5 " aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="profile.html">Profile</a></li>
            <li><a class="dropdown-item" href="userlogin.html">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Nav -->
    <!-- End Carousel -->
    <!-- End Banner -->
  </header>
  <!-- End Nav -->
  <!--Start  ViewBody -->

  <section class="container-fluid  bg-dark pt-5 bookviewBody">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="container-fluid d-flex justify-content-center justify-content-md-center">
          <img src="assets/data/Berserk.jpg" alt="Berserk" width="250px">
        </div>
      </div>
      <div class="col-md-8 col-12 text-light text-center text-md-start">
        <h1>Berserk</h1>
        <table class="bookinfos">
          <tr>
            <td>Alternative:</td>
            <td>ベルセルク (Japanese) ; 剑风传奇 (Simplified Chinese) ; 烙印勇士 (Traditional Chinese); Berserk (English) ; 베르세르크
              (Korean); Berserk!!
              ; Beruseruku ; Kiếm Sĩ Đen (Vietnamese - Tiếng Việt - TV); Berserk Prototype ; Berserk the Prototype ;
              เบอร์เซิร์ก
              (Thai); الهائج (Arabic)</td>
          </tr>
          <tr>
            <td>Author :</td>
            <td>Berserk</td>
          </tr>
          <tr>
            <td>Status :</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>Genres :</td>
            <td>Action-Adventure-Fantasy-Horror-Mature-Seinen-Supernatural-Tragedy</td>
          </tr>
          <tr>
            <td>Updated :</td>
            <td>Aug 11,2022 - 16:40 PM</td>
          </tr>
          <tr>
            <td>View : </td>
            <td>69,309,101</td>
          </tr>
          <tr>
            <td>Rating :</td>
            <td>4.5/5</td>
          </tr>
        </table>
        <div>
          <button class="btn btn-outline-info">Read Chatper List</button>
          <button class="btn btn-outline-info">BookMark</button>
          <button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Description
          </button>
        </div>
      </div>
      <div>
        <div class="collapse pt-4" id="collapseExample">
          <div class="card card-body">
            <b> Berserk Manga</b> is a Japanese dark fantasy manga series illustrated and written by Kentaro Miura.
            Place in a
            medieval
            Europe-divine the narrative centers on the characters of Guts dark fantasy world, a lone mercenary, and
            Griffith, the
            leader of a mercenary group known as the Band of the Hawk. Motifs of camaraderie, isolation, as well as the
            question of
            whether mankind is basically good or bad pervade the narrative, as it investigates both the very best and
            worst of human
            nature. Both anime and the manga are noticed for their utilization of sexual content and heavy violence.
            <b> Guts in Berserk manga</b>
            The Hawks play a critical role in stopping the 100-year war which has ravaged the state of Midland and are
            initially
            welcomed as heroes, when Guts leaves the Hawks to seek out his own vision, but Griffith's aspirations to
            rule his own
            kingdom are shattered. Not able to deal together with the loss, Griffith leads to the dungeon to get a year
            and seduces
            the King's daughter Charlotte. From the time Guts helps the outlawed remnants of the Hawks and learns of
            this save him,
            Griffith left and has been terribly mutilated a mute shadow of his former self. Of understanding his body,
            the weight is
            too damaged for him to execute he inadvertently activates the behelit on his man and his wishes shows too
            much for
            Griffith. This brings the Hawks to a different airplane in the place where they fall upon archdemons known
            as the four
            God Hand in the service called the Eclipse. Urged on from the eldritch beings, Griffith gives his soldiers
            to the
            apostles--people like Zodd who lost mankind and their nearest and dearest for power of the God Hand --so he
            is able to
            end up being the closing member of the God Hand. Though he along with his lover Casca are saved from certain
            death by
            the mysterious Skull Knight labeled, Guts witnesses the savage slaughter of his comrades. Intestines loses
            an eye and an
            arm while Casca is driven mad after being raped by the reborn Griffith, now called Femto.

            Miura premiered a model of Berserk Manga in 1988.

            There, falling upon Farnese of the Holy Iron Chain Knights of the Holy See Church , Guts finds himself going
            through a
            nightmarish ordeal that finishes in the physical type restored of Griffith. Griffith creates another Band of
            the Hawk
            with Zodd as well as other Apostles among its ranks to fight the invading Kushan military as Guts takes
            Casca to the
            Elven kingdom of Elfhelm for safety together with the aid of his new comrades. The war between the Kushan
            emperor and
            Griffith, a rogue apostle, culminates using the emperor's destruction as well as the overlapping of the
            supernatural as
            well as the mortal world. No longer challenged by guy or devil, Griffith creates his rule using the sanction
            of the Pope
            and Princess Charlotte over Midland, creating the city of Falconia to give you safety to the Midlanders in
            the
            ever-increasing assaults of creatures that are fabulous
          </div>
        </div>
      </div>

    </div>
    <div class="row justify-content-center pt-4 chapterlistcontainers">
      <div class="col-10 d-flex justify-content-center p-4 rounded-1 chapterlists">
        <div class="col-12">
          <div class="col-12 d-flex justify-content-between pb-3">
            <a href="chapter.html" class="col-5 btn btn-info rounded-1 btn-lg">
              Read First

            </a>
            <a class="col-5 btn btn-info rounded-1 btn-lg">
              Read Last
            </a>
          </div>
          <div class="col-12 pb-3">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </div>
          <div class="col-12 text-center chapterscrolls">
            <a href="chapter.html" class="col-4 btn btn-outline-info btn-sm  p-2 m">
              Chapter-1 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm p-2 m">
              Chapter-2 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm p-2 m">
              Chapter-3 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm p-2 m">
              Chapter-4 <br>
              August 17,2022
            </a>

            <a class="col-4 btn btn-outline-info btn-sm  p-2 m">
              Chapter-5 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm p-2 m">
              Chapter-6 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm p-2 m">
              Chapter-7 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm p-2 m">
              Chapter-8 <br>
              August 17,2022
            </a>

            <a class="col-4 btn btn-outline-info btn-sm  p-2 m">
              Chapter-9 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm p-2 m">
              Chapter-10 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm p-2 m">
              Chapter-11 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm">
              Chapter-12 <br>
              August 17,2022
            </a>

            <a class="col-4 btn btn-outline-info btn-sm ">
              Chapter-13 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm">
              Chapter-14 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm">
              Chapter-15 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm">
              Chapter-16 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm ">
              Chapter-17 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm">
              Chapter-18 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm">
              Chapter-19 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm">
              Chapter-20 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm ">
              Chapter-21 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm">
              Chapter-22 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm">
              Chapter-23 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm">
              Chapter-24 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm ">
              Chapter-25 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm">
              Chapter-26 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm">
              Chapter-27 <br>
              August 17,2022
            </a>
            <a class="col-4 btn btn-outline-info btn-sm">
              Chapter-28 <br>
              August 17,2022
            </a>
          </div>
        </div>
      </div>

    </div>

  </section>

  <!--End  ViewBody -->
  <!-- Start Footer -->
  <footer>
    <!-- Start Footer Section -->
    <footer class="bg-dark px-5 pt-5">
      <div class="container-fluid">
        <div class="row text-light py-4">
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-3">ABOUT COMICS GEEK</h5>
            <p class="small">Comics Geek - Read Manga Online Free
              The term Manga is used to refer to graphic novels or comics originating from Japan. Even today, many
              mangas are
              developed as per the style followed in Japan during the late nineteenth century. Outside the country,
              the
              word is used
              typically to refer to comics originally published in the country. People of all ages read Manga.</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-3">Visit Us</h5>
            <ul class="list-unstyled">
              <li> <a href="index.html" class="footerlinks"> Home</a></li>
              <li> <a href="#about" class="footerlinks"> About Us</a> </li>
              <li> <a href="#properties" class="footerlinks"> Properties</a></li>
              <li> <a href="#agents" class="footerlinks"> Agents</a></li>
              <li> <a href="#customers" class="footerlinks"> Customers</a></li>
              <li> <a href="#pricing" class="footerlinks"> Pricing</a></li>
              <li> <a href="#contact" class="footerlinks"> Contact</a></li>
            </ul>

          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-3">Need Help</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="footerlinks">Customer Service</a></li>
              <li><a href="#" class="footerlinks">Online Chat</a></li>
              <li><a href="#" class="footerlinks">Support</a></li>
              <li><a href="#" class="footerlinks">info@plancco.com</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-3">Contact Us</h5>
            <ul class="list-unstyled small">
              <li>l-9/19(A),60 Street Between Theik Pan Street And, Aung San St,Mandalay</li>
              <li>Phone: +95 9 4220 42225 / +95 9 4220 42242</li>
            </ul>
          </div>
        </div>
        <div class="text-light border-top pt-4 d-flex justify-content-between">
          <p>&copy; <span id="getyear"></span> Copyright, Inc,All rights reserved</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a href="#" class="nav-link text-light"><i class="fab fa-twitter"></i></a></li>
            <li class="ms-3"><a href="#" class="nav-link text-light"><i class="fab fa-instagram"></i></a></li>
            <li class="ms-3"><a href="#" class="nav-link text-light"><i class="fab fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- End Footer Section -->

  </footer>
  <!-- End Footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="jquery-3.6.0.min.js"></script>
  <script src="script.js"></script>
</body>

</html>