<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="style.css">
  <title>Comics Geek</title>
</head>



<body>
  <!-- Start Header -->
  <header>
    <!-- Start Nav -->
    <nav class="container-fluid navbar navbar-expand-lg fixed-top navbars navframe bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand logonames" href="index.html">Comic Geek</a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fas fa-search pt-1"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <form class="d-flex mt-3 mb-2 mt-md-0 mb-md-0">
            <input class="form-control me-2 searchboxs" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>

        <div class="dropstart">
          <div class=" profiles" data-bs-toggle="dropdown"></div>
          <ul class="dropdown-menu dropcus mt-5 " aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="profile.html">Profile</a></li>
            <li><a class="dropdown-item" href="userlogin.html">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Nav -->
  </header>
  <!-- End Header -->
  <!-- Start Chapter Body -->
  <section class="pt-5 bg-dark">

    <div class="container pt-5">
      <h2 class="text-light">Berserk Chapter-1</h2>
      <div class="">
        <nav aria-label="row breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="index.html" class="alinks text-muted">Home</a></li>
            <li class="breadcrumb-item"><a href="viewmore.html" class="alinks text-muted">Viewmore</a></li>
            <li class="breadcrumb-item"><a href="bookview.html" class="alinks text-muted">Berserk</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chapter-1</li>
          </ol>
        </nav>
        <div class="row">
          <div class="col-9">
            <div class="col-3">
              <select name="" id="" class="form-select">
                <option value="">
                  <a href="">Chapter-1</a>
                </option>
                <option value="">
                  <a href="">Chapter-2</a>
                </option>
                <option value="">
                  <a href="">Chapter-3</a>
                </option>
                <option value="">
                  <a href="">Chapter-4</a>
                </option>
              </select>
            </div>
          </div>
          <div class="col-3 ">
            <a href="" class="btn btn-light mb-3 mb-md-0"><i class="fas fa-arrow-circle-left"></i> Prev </a>
            <a href="" class="btn btn-light me-1">Next <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="container pt-5">
          <div class="row text-center">
            <div class="col-12">
              <img src="assets/The Black Swordsman/001.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/002.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/003.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/004.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/005.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/006.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/007.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/008.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/009.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/010.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/011.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/012.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/013.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/014.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/015.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/016.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/017.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/018.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/019.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/020.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12">
              <img src="assets/The Black Swordsman/021.jpg" alt="" class="comic-img">
            </div>
            <div class="col-12 ">
              <img src="assets/The Black Swordsman/022.jpg" alt="" class="comic-img">
            </div>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-9">
            <div class="col-3">
              <select name="" id="" class="form-select">
                <option value="">
                  <a href="">Chapter-1</a>
                </option>
                <option value="">
                  <a href="">Chapter-2</a>
                </option>
                <option value="">
                  <a href="">Chapter-3</a>
                </option>
                <option value="">
                  <a href="">Chapter-4</a>
                </option>
              </select>
            </div>
          </div>
          <div class="col-3 ">
            <a href="" class="btn btn-light"><i class="fas fa-arrow-circle-left"></i> Prev </a>
            <a href="" class="btn btn-light me-1">Next <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Chapter Body -->
  <!-- Start Footer -->
  <footer>
    <!-- Start Footer Section -->
    <footer class="bg-dark px-5 pt-5">
      <div class="container-fluid">
        <div class="row text-light py-4">
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-3">ABOUT COMICS GEEK</h5>
            <p class="small">Comics Geek - Read Manga Online Free
              The term Manga is used to refer to graphic novels or comics originating from Japan. Even today, many
              mangas are
              developed as per the style followed in Japan during the late nineteenth century. Outside the country, the
              word is used
              typically to refer to comics originally published in the country. People of all ages read Manga.</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-3">Visit Us</h5>
            <ul class="list-unstyled">
              <li> <a href="index.html" class="footerlinks"> Home</a></li>
              <li> <a href="#about" class="footerlinks"> About Us</a> </li>
              <li> <a href="#properties" class="footerlinks"> Properties</a></li>
              <li> <a href="#agents" class="footerlinks"> Agents</a></li>
              <li> <a href="#customers" class="footerlinks"> Customers</a></li>
              <li> <a href="#pricing" class="footerlinks"> Pricing</a></li>
              <li> <a href="#contact" class="footerlinks"> Contact</a></li>
            </ul>

          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-3">Need Help</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="footerlinks">Customer Service</a></li>
              <li><a href="#" class="footerlinks">Online Chat</a></li>
              <li><a href="#" class="footerlinks">Support</a></li>
              <li><a href="#" class="footerlinks">info@plancco.com</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-3">Contact Us</h5>
            <ul class="list-unstyled small">
              <li>l-9/19(A),60 Street Between Theik Pan Street And, Aung San St,Mandalay</li>
              <li>Phone: +95 9 4220 42225 / +95 9 4220 42242</li>
            </ul>
          </div>
        </div>
        <div class="text-light border-top pt-4 d-flex justify-content-between">
          <p>&copy; <span id="getyear"></span> Copyright, Inc,All rights reserved</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a href="#" class="nav-link text-light"><i class="fab fa-twitter"></i></a></li>
            <li class="ms-3"><a href="#" class="nav-link text-light"><i class="fab fa-instagram"></i></a></li>
            <li class="ms-3"><a href="#" class="nav-link text-light"><i class="fab fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- End Footer Section -->

  </footer>
  <!-- End Footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="jquery-3.6.0.min.js"></script>
  <script src="script.js"></script>
</body>

</html>