<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="style.css">
  <title>Comics Geek</title>
</head>


<body>
  <!-- Start Header -->
  <header>
    <!-- Start Nav -->
    <nav class="container-fluid navbar navbar-expand-lg fixed-top navbars navframe">
      <div class="container-fluid">
        <a class="navbar-brand logonames" href="#">Comic Geek</a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fas fa-search pt-1"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <form class="d-flex mt-3 mb-2 mt-md-0 mb-md-0">
            <input class="form-control me-2 searchboxs" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>

        <div class="dropstart">
          <div class=" profiles" data-bs-toggle="dropdown"></div>
          <ul class="dropdown-menu dropcus mt-5 " aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="profile.html">Profile</a></li>
            <li><a class="dropdown-item" href="userlogin.html">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Nav -->

    <!-- Start Banner -->
    <section class="">

      <!-- Start Carousel -->
      <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators ">
          <li class="active" data-bs-target="#mycarousel" data-bs-slide-to="0"></li>
          <li data-bs-target="#mycarousel" data-bs-slide-to="1"></li>
          <li data-bs-target="#mycarousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

          <div class="carousel-item active banner1">
            <div class="container">
              <div class="carousel-caption d-sm-block d-none  mb-5 banner-boxs">
                <h1 class="text-uppercase display-5 fw-bold">Berserk</h1>
                <p class="">
                  Now branded for death and destined to be hunted by demons until the day he dies, Guts embarks on a
                  journey to defy such
                  a gruesome fate, as waves of beasts relentlessly pursue him. Steeling his resolve, he takes up the
                  monstrous blade
                  Dragonslayer and vows to exa...
                </p>
                <a href="#" class="btn btn-sm btn-info rounded-pill me-2"> <i class="fas fa-book"></i>&nbsp;Read Now</a>
                <a href="#" class="btn btn-sm btn-light rounded-pill">Detail ></a>
              </div>
            </div>
          </div>
          <div class="carousel-item  banner2">
            <div class="container ">
              <div class="carousel-caption d-sm-block d-none  mb-5 banner-boxs">
                <h1 class="text-uppercase display-5 fw-bold">OnePiece</h1>
                <p class="">
                  Gold Roger was known as the "Pirate King," the strongest and most infamous being to have sailed the
                  Grand Line. The
                  capture and execution of Roger by the World Government brought a change throughout the world. His last
                  words before his
                  death revealed the existenc...
                </p>
                <a href="#" class="btn btn-sm btn-info rounded-pill"> <i class="fas fa-book"></i>&nbsp;Read Now</a>
                <a href="#" class="btn btn-sm btn-light rounded-pill">Detail ></a>
              </div>
            </div>
          </div>
          <div class="carousel-item  banner3">
            <div class="container ">
              <!-- d-none d-sm-block ဆိုတာက  d-sm-block ဆိုတာက sm ထက်ကြီ:တဲ့ sizeကိုဆိုလိုတာ  d-none ဆိုတာက sm အောက်ကကောင်ကိုဖျောက်ပေးတာ  -->
              <div class="carousel-caption d-sm-block d-none  mb-5 banner-boxs">
                <h1 class="text-uppercase display-5 fw-bold">Naruto</h1>
                <p class="">
                  Moments prior to Naruto Uzumaki's birth, a huge demon known as the Kyuubi, the Nine-Tailed Fox,
                  attacked Konohagakure,
                  the Hidden Leaf Village, and wreaked havoc. In order to put an end to the Kyuubi's rampage, the leader
                  of the village,
                  the Fourth Hokage, sacrif...
                </p>
                <a href="#" class="btn btn-sm btn-info rounded-pill"> <i class="fas fa-book"></i>&nbsp;Read Now</a>
                <a href="#" class="btn btn-sm btn-light rounded-pill">Detail ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Carousel -->
      </div>
      </div>
    </section>
    <!-- End Banner -->
  </header>
  <!-- End Header -->

  <!-- Start Body -->
  <section class="container-fluid bg-dark p-5">

    <div class="container">
      <div class="row">
        <div class="px-5 col-12 d-flex justify-content-between mb-1">
          <div>
            <h3 class="vieweds">Most Viewed</h3>
          </div>
          <div class="viewmoretexts">
            <a href="viewmore.html" class="text-muted fs-6 viewmoretexts nav-link">
              View More &nbsp;<i class="fas fa-greater-than fa-1"></i></a>
          </div>
        </div>
        <div class="col-md-3 col-12 col-sm-6 mb-4 ">
          <a href="bookview.html" class="commicimgs nav-link">

            <div class="card" style="width: 14.5rem;">
              <img src="assets/data/Berserk.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Berserk
                  <br>
                  &nbsp;
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-12 col-sm-6 mb-4 ">
          <a href="" class="commicimgs nav-link">
            <div class="card" style="width: 14.5rem;">
              <img src="assets/data/Blue Lock.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Blue Lock
                  <br>
                  &nbsp;
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-12 col-sm-6 mb-4">
          <a href="" class="commicimgs nav-link">
            <div class="card" style="width: 14.5rem;">
              <img src="assets/data/Jagaaaaaan.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Jagaaaaaan
                  <br>
                  &nbsp;
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-12 col-sm-6 mb-4">
          <a href="" class="commicimgs nav-link">
            <div class="card " style="width: 14.5rem;">
              <img src="assets/data/Jujutsu Kaisen (Fan Colored).jpg" class="card-img-top" alt=" ...">
              <div class="card-body">
                <p class="card-text">
                  Jujutsu Kaisen
                  <br>
                  &nbsp;
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-12 col-sm-6 mb-4">
          <a href="" class="commicimgs nav-link">
            <div class="card " style="width: 14.5rem;">
              <img src="assets/data/Kaiju No. 8.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Kaiju No.8
                  <br>
                  &nbsp;
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-12 col-sm-6 mb-4">
          <a href="" class="commicimgs nav-link">
            <div class="card " style="width: 14.5rem;">
              <img src="assets/data/Mushoku Tensei - Isekai Ittara Honki Dasu.jpg" class="card-img-top">
              <div class="card-body">
                <p class="card-text">
                  Mushoku Tensei-Isek
                  <br>
                  &nbsp;ai Ittara Honki Dasu
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-12 col-sm-6 mb-4">
          <a href="" class="commicimgs nav-link">

            <div class="card " style="width: 14.5rem;">
              <img src="assets/data/My Hero Academia.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  My Hero Academia
                  <br>
                  &nbsp;
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-12 col-sm-6 mb-4">
          <a href="" class="commicimgs nav-link">

            <div class="card " style="width: 14.5rem;">
              <img src="assets/data/Naruto.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Naruto
                  <br>
                  &nbsp;
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-12 col-sm-6 mb-4">
          <a href="" class="commicimgs nav-link">

            <div class="card " style="width: 14.5rem;">
              <img src="assets/data/Onepunch-Man.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Onepunch-Man
                  <br>
                  &nbsp;

                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-12 col-sm-6 mb-4">
          <a href="" class="commicimgs nav-link">

            <div class="card " style="width: 14.5rem;">
              <img src="assets/data/Return of the Mount Hua Sect.jpg" class="card-img-top" alt=" ...">

              <div class="card-body">
                <p class="card-text">
                  Return of the Mount
                  <br>
                  &nbsp; Hua Sect
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-12 col-sm-6 mb-4">
          <a href="" class="commicimgs nav-link">

            <div class="card " style="width: 14.5rem;">
              <img src="assets/data/Solo Leveling.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Solo Leveling
                  <br>
                  &nbsp;
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-12 col-sm-6 mb-4">
          <a href="" class="commicimgs nav-link">
            <div class="card" style="width: 14rem;">
              <img src="assets/data/Solo Max-Level Newbie.jpg" class="card-img-top" alt=" ...">
              <div class="card-body">
                <p class="card-text text-capitalize">
                  Solo Max-Level Newb
                  <br>
                  &nbsp;ie
                </p>
              </div>

            </div>
          </a>
        </div>
      </div>
    </div>

  </section>
  <!-- End Body -->
  <!-- Start Footer -->
  <footer>
    <!-- Start Footer Section -->
    <footer class="bg-dark px-5 pt-5">
      <div class="container-fluid">
        <div class="row text-light py-4">
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-3">ABOUT COMICS GEEK</h5>
            <p class="small">Comics Geek - Read Manga Online Free
              The term Manga is used to refer to graphic novels or comics originating from Japan. Even today, many
              mangas are
              developed as per the style followed in Japan during the late nineteenth century. Outside the country, the
              word is used
              typically to refer to comics originally published in the country. People of all ages read Manga.</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-3">Visit Us</h5>
            <ul class="list-unstyled">
              <li> <a href="index.html" class="footerlinks"> Home</a></li>
              <li> <a href="#about" class="footerlinks"> About Us</a> </li>
              <li> <a href="#properties" class="footerlinks"> Properties</a></li>
              <li> <a href="#agents" class="footerlinks"> Agents</a></li>
              <li> <a href="#customers" class="footerlinks"> Customers</a></li>
              <li> <a href="#pricing" class="footerlinks"> Pricing</a></li>
              <li> <a href="#contact" class="footerlinks"> Contact</a></li>
            </ul>

          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-3">Need Help</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="footerlinks">Customer Service</a></li>
              <li><a href="#" class="footerlinks">Online Chat</a></li>
              <li><a href="#" class="footerlinks">Support</a></li>
              <li><a href="#" class="footerlinks">info@plancco.com</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-3">Contact Us</h5>
            <ul class="list-unstyled small">
              <li>l-9/19(A),60 Street Between Theik Pan Street And, Aung San St,Mandalay</li>
              <li>Phone: +95 9 4220 42225 / +95 9 4220 42242</li>
            </ul>
          </div>
        </div>
        <div class="text-light border-top pt-4 d-flex justify-content-between">
          <p>&copy; <span id="getyear"></span> Copyright, Inc,All rights reserved</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a href="#" class="nav-link text-light"><i class="fab fa-twitter"></i></a></li>
            <li class="ms-3"><a href="#" class="nav-link text-light"><i class="fab fa-instagram"></i></a></li>
            <li class="ms-3"><a href="#" class="nav-link text-light"><i class="fab fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- End Footer Section -->

  </footer>
  <!-- End Footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="jquery-3.6.0.min.js"></script>
  <script src="script.js"></script>
</body>

</html>